<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('./includes/Nav.ejs') %>
    <div class="container">
      <h1>Product JWT</h1>
      <p>
        Anim sint in eiusmod quis minim occaecat duis ut nulla sit velit dolore
        officia. Fugiat cupidatat commodo enim irure excepteur fugiat
        exercitation id incididunt. In laboris nostrud proident sunt excepteur
        dolor excepteur. Incididunt irure ut consequat nostrud nisi duis ea
        duis. 
      </p>
      <a href="/products">Products</a>
    </div>
  </body>
</html>
